/* ::placeholder {
    color: black;
    opacity: 1; 
  }
  

.dash--container{
    display: grid;
    grid-template: 1fr 2fr/ 2fr 1fr;
    width: 100%;
    gap: 2rem;
    background: #EEEEEE;
    padding: 2rem;
}

.dash--container > div{
    background-color: white;
    border-radius: 1rem;
    font-size: 5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

 */
